.fullCard {
  display: flex;
  margin: 5px;
  box-shadow: 1px 1px 4px 0 rgb(34 60 80 / 20%);
  padding: 5px;
  min-width: 320px;
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 30%;
    & img {
      width: 100px;
    }
  }
  &__info {
    flex: 0 0 70%;
  }
  &__description {
    margin: 10px 0;
  }
  &__price {
    margin: 10px 0;
    font-weight: 600;
    font-size: 15px;
  }
  &__title {
    font-weight: 600;
    font-size: 15px;
  }
  &__quantity {
    display: flex;
    align-items: center;
  }
}